---
import { ViewTransitions } from "astro:transitions";
import Main from "../components/Main";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/old-og-mac.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>shivam</title>
  </head>
  <body class="bg-zinc-200">

    <Main client:load />

  </body>
</html>

<style>
  @font-face {
  font-family: 'ZTFormom';
  src: url('/fonts/ZTFormom.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>